body {
    background-color: tomato;

}
.title_box {
	float:left;
	margin-right: 64px;
}
.title {
	background-color: lightyellow;
	padding:12px;
}
.text {
	background-color: lightyellow;
}
p {

   	font-family: "Tahoma", Geneva, sans-serif;
  	padding:16px;
	font-size: 20px;

}

h1 {
   	font-family: "Tahoma", Geneva, sans-serif;
    	padding:16px;

}
.title a:link {
	color:tomato;
}
.text a:link {

   	font-family: "Tahoma", Geneva, sans-serif;
    	padding:16px;
	font-size: 20px;
	color:tomato;
}
